.category-section {
  font-family: Inter, sans-serif;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-section h2 {
  color: #293264;
  font-size: 2rem;
  text-align: center;
}

.category-section button:hover {
  cursor: pointer;
}

.category-choices button,
.difficulty-choices button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: #293264;
  border: 1px solid #293264;
  margin: 0.2rem 0.2rem;
  /* border-radius: 15px; */
}

#start-quiz {
  margin: 2.5rem 0;
}

@media screen and (max-width: 900px) {
  #start-quiz {
    padding: 0.75rem 2.75rem 0.75rem 2.75rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .category-section h2 {
    font-size: 3rem;
  }
  .category-choices button,
  .difficulty-choices button {
    font-size: 1.5rem;
    padding: 0.75rem 2.25rem;
  }
}
